<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">


<h1>orders {{start_date|date:"d.m"}} to {{end_date|date:"d.m"}}</h1>

{% if orders_by_date %}
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawCharts);
      function drawCharts() {
        var order_count_data = google.visualization.arrayToDataTable([
          ['Date', 'Orders'],
          {% for row in orders_by_date %}
           ['{{row.display_date}}', {{row.count}}],
         {% endfor %} 
        ]);
        var order_revenue_data = google.visualization.arrayToDataTable([
          ['Date', 'Orders'],
          {% for row in orders_by_date %}
           ['{{row.display_date}}', {{row.revenues}}],
         {% endfor %} 
        ]);
        

        var options_count = {
          title: 'orders {{start_date|date:"d.m"}} to {{end_date|date:"d.m"}}',
        };
        var options_revenue = {
          title: 'sales volume {{start_date|date:"d.m"}} to {{end_date|date:"d.m"}}',
        };

        var order_count_chart = new google.visualization.AreaChart(document.getElementById('order_count_chart'));
        var order_revenue_chart = new google.visualization.AreaChart(document.getElementById('order_revenue_chart'));
        order_count_chart.draw(order_count_data, options_count);
        order_revenue_chart.draw(order_revenue_data, options_revenue);
      }
    </script>  

<div id="order_count_chart"></div>
<div id="order_revenue_chart"></div>
    <ul class="results">
    {% for row in orders_by_date_reverse %}
       <li>
       <span class="day">{{row.day}}</span>
       <span class="revenues">{{row.revenues|floatformat:"0"}}&euro;</span>
       <span class="count">({{row.count}})</span>
       
       <ul>
        {% for order in row.orders %}
        <li><a href="/order/{{ order.increment_id }}/">{{ order.increment_id }}</a>&nbsp {{order.grand_total|floatformat:"2"}}&euro;,&nbsp;({{order.created_at|time}}) </li>
        {% endfor %}
       </ul>
       </li> 
    {% endfor %}
    </ul>
    
{% else %}
    <p>No Orders.</p>
{% endif %}

</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>