<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<link href="/static/base.css" rel="stylesheet"/>
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <a class="brand" href="/">{{today_orders.count}} ({{today_orders.sum|floatformat:"0"}}&euro;)</a>
          <ul class="nav">
            {% for l in date_range_links %}
            <li class="{% if l.active %}active{% endif %}"><a href="?start={{l.range.start}}&end={{l.range.end}}&range_label={{l.label}}&res={{ res }}">{{l.label}}</a></li>
            {% endfor %}
            {% for resolution in resolutions %}
            <li class="{% if resolution == res %}active{% endif %}" ><a href="?start={{ start_date|date:"Y-m-d" }}&end={{ end_date|date:"Y-m-d" }}&res={{ resolution }}&range_label={{ range_label }}">{{ resolution }}</a></li>
            {% endfor %}
                      
          </ul>
      </div>
    </div>
</div>
{% if orders_by_date %}
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawCharts);
      function drawCharts() {
        var order_count_data = google.visualization.arrayToDataTable([
          ['Date', 'Orders'],
          {% for row in orders_by_date %}
           ['{{row.display_date}}', {{row.count}}],
         {% endfor %} 
        ]);
        var order_revenue_data = google.visualization.arrayToDataTable([
          ['Date', 'Orders'],
          {% for row in orders_by_date %}
           ['{{row.display_date}}', {{row.revenues}}],
         {% endfor %} 
        ]);
        

        var options_count = {
          title: 'orders {{start_date|date:"d.m"}} to {{end_date|date:"d.m"}} ({{order_stats.count}})', legend:'none'
        };
        var options_revenue = {
          title: 'sales volume {{start_date|date:"d.m"}} to {{end_date|date:"d.m"}}  ({{order_stats.sum|floatformat:"2"}})',legend:'none'
        };

        var order_count_chart = new google.visualization.AreaChart(document.getElementById('order_count_chart'));
        var order_revenue_chart = new google.visualization.AreaChart(document.getElementById('order_revenue_chart'));
        order_count_chart.draw(order_count_data, options_count);
        order_revenue_chart.draw(order_revenue_data, options_revenue);
      }
    </script>  

<div id="order_count_chart"></div>
<div id="order_revenue_chart"></div>
    <ul class="results unstyled">
    {% for row in orders_by_date_reverse %}
       <li>
       <span class="day">{{row.day}}</span>
       <span class="count">{{row.count}}</span>
       <span class="revenues">({{row.revenues|floatformat:"0"}}&euro;)</span>
       
       
       <ul class="unstyled">
        {% for order in row.orders %}
        <li>{{ order.increment_id }}&nbsp {{order.grand_total|floatformat:"2"}}&euro;,&nbsp;({{order.created_at|time:"H:i"}}) </li>
        {% endfor %}
       </ul>
       </li> 
    {% endfor %}
    </ul>
    
{% else %}
    <p>No Orders.</p>
{% endif %}

</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
